<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1><%= title %></h1>
    <p>We are a very cool organization!</p>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <p><%- partial("_shared/blurb") %></p>
    </div>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-6">
      <%- partial("_shared/blurb") %>
    </div>
    <div class="col-lg-6">
      <%- partial("_shared/blurb") %>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Company 2013</p>
  </footer>
</div>