<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>About Me</h1>
            <h2>The Life and Times of Ben Peterson</h2>
        </div>
<div class="content">
            
            <p>
            Throughout my entire life, I have had a background working with computers.
            When I was in grade school, my dad and I would work on computers and he 
            would teach me how they worked, since he worked in IT. That's where my
            interest in computers began. From there, I became interested in programming
            and finding out how computers accomplished day to day processes. The process
            of computers taking user input, interpreting it, and then executing the
            requested task fascinates me. Because of this interest, I began studying 
            programming languages, and I began to learn languages with my dad. From 
            my senior year of high school to now, my fifth year of college, I have 
            gained an intermediate background in Python, R, HTML, CSS, and JavaScript.
            While pursuing these studies, I learned a basic level of web development,
            and I published my first professional website for my fraternity, The
            <a href="https://www.preshousegtown.org">President's House Association</a>
            </p>
            
            <p>
            While going through my educational career, I also developed a passion for
            running, and I have competed for my school since the 8th grade. I ran Varsity
            Cross Country and Track at Bowling Green High School in Bowling Green, KY, and
            then signed to compete at Western Kentucky University. Following an injury-riddled
            freshman campaign, I transferred to Georgetown College in Georgetown, KY to 
            continue my academic and athletic endeavors. Throughout my time as an athlete,
            I have learned the immense importance of dedication to the sport. There is a 
            striking difference in athletic performance when you stick to the little things
            like diet and sleep/recovery, and there is a lot that must be done in training,
            even if it isn't what you want to do. I have found success athletically by
            dedicating myself to all aspects of training intelligently and effectively, and
            I carry this determination into my career and educational desires as well.
            In May 2019, I will graduate with a Bachelor of Science in Data Analysis, and
            I am excited to get out into the world and put my passions to work in the 
            professional world. There are big things coming.
            </p>

            
        </div>
        <% include partial/footer %>

<% include partial/end %>