<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>Fleet Geek</h1>
            <h2>Fast Programmer, Faster Runner</h2>
        </div>
<div class="content">
            <h2 class="content-subhead">Ben Peterson- Class of 2019</h2>
            <p>Computer Science Student at Georgetown College</p>
            <p>B.S. in Data Analysis</p>
            <p>Programming Languages: R, Python, HTML, CSS, JavaScript</p>
            <p>Varsity Cross Country/Track and Field Athlete</p>
            <p>Community Relations Chairman of the President's House Association Fraternity</p>

            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="img/ben-jacob.jpg" alt="Ben Peterson and Jacob Hanser at the 2015 Gatorland Run">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="img/ben-code.jpg" alt="Ben coding this very site at home">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="img/pha-thanksgiving.jpg" alt="PHA Thanksgiving 2018">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="img/ben-marathon.jpg" alt="Ben running the BG 26.2 on November 4th, 2018">
                </div>
            </div>

            <h2 class="content-subhead">More Information & Social Media</h2>
            <p>
               For more information on my coding projects, feel free to check out my <a href="https://www.github.com/RunnaBoiBP">GitHub</a>.
            </p>
            <p>My Live Twitter Feed:</p>
            <div>
                <a class="twitter-timeline" href="https://twitter.com/RunnaBoiBP?ref_src=twsrc%5Etfw">Tweets by RunnaBoiBP</a> 
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            </div>
        </div>
        <% include partial/footer %>
        <% include partial/scripts %>

<% include partial/end %>