<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>Sorry, login attempt failed!</h1>
        </div>
<div class="content">
            
  <p>
    If you want, you can <a href="/login">try again</a>.
  </p>

            
        </div>
        <% include partial/footer %>
        <% include partial/scripts %>

<% include partial/end %>