<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>Login Attempt Successful!</h1>
            <h2>Hello, <%- user %>!</h2>
        </div>
<div class="content">
            
  <p>
    You may access the Members-Only Area.
  </p>

            
        </div>
        <% include partial/footer %>

<% include partial/end %>