<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>Login</h1>
            <h2></h2>
        </div>
<div class="content">
            
<form action="/login" method="post" role="form" class="pure-form pure-form-aligned">
<fieldset>
    <div class="pure-control-group">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" placeholder="Username">
    </div>

    <div class="pure-control-group">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="Password">
    </div>

    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </div>
</fieldset>
</form>

            
</div>
<% include partial/footer %>

<% include partial/end %>