<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>Motivational Running Quotes & Inspiration</h1>
            <h2>Refresh to see a new quote!</h2>
        </div>
<div class="content">
            
    <div>
        <blockquote>
            <p><%- quote.quote %></p>
        </blockquote>
        <footer>
            &mdash; <%- quote.author %>
        </footer>
    </div>

            
</div>
<% include partial/footer %>

<% include partial/end %>