<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>Members-Only Area</h1>
            
        </div>
<div class="content">
            
  <p>
    Log in via the <a href="/login">login</a> page to access this information.
  </p>

            
        </div>
        <% include partial/footer %>

<% include partial/end %>