<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>Thank You for Subscribing!</h1>
            <h2>Be sure to check your email for updates!</h2>
        </div>
<div class="content">
            
  <p>
    Enjoy the rest of my site!
  </p>

            
        </div>
        <% include partial/footer %>

<% include partial/end %>